$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$icm-advantages-1: "\e900";
$icm-advantages-2: "\e901";
$icm-advantages-3: "\e902";
$icm-advantages-4: "\e903";
$icm-advantages-5: "\e904";
$icm-arrow: "\e905";
$icm-location: "\e906";
$icm-logo: "\e907";
$icm-magnifying-glass: "\e908";
$icm-mail: "\e909";
$icm-mail-kontakti: "\e90a";
$icm-phone: "\e90b";

